---
layout: page
title: Tags
permalink: /tags/index.html
description: "An archive of posts sorted by tag."
---

{% for tag in site.tags %}
  <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
  <hr />
  {% assign pages_list = tag[1] %}  
  {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}

<article class="post type-post status-publish format-standard hentry clearfix">
    <header>

      <h2 class="entry-title">
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h3><!-- /.entry-title -->

      <div class="post-meta">
        <span class="post-date">
          {% if post.author_twitter %}
          <a href="http://twitter.com/{{post.author_twitter}}" target="_blank">
            <img src="http://twitter.com/api/users/profile_image/{{post.author_twitter}}"/>
            {{ post.author_name }}
          </a>
          {% else  %}
            {{ post.author_name }}
          {% endif %}
        </span>
        </br>
        <span class="post-date">
          {{ post.date | date: "%B %e, %Y" }}
        </span><!-- /.post-date -->
        {% if site.disqus_shortname and post.comments %}
        |
        <span class="comment-link">
          <a href="#disqus_thread">Comment</a>
        </span><!-- /.comment-link -->
        {% endif %}
      </div><!-- /.post-meta -->

    </header>

    <div class="entry-content clearfix">
      {{ post.excerpt }}
    </div><!--/ .entry-content -->

</article>

    {% endif %}
    {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
{% endfor %}
