<div id="twitter_link">
  <a href="//twitter.com/GardenCityRb">
    <div id="twitter">
      Twitter
    </div>
  </a>
</div>

<div class="menu">
  <ul>
    {% for link in site.links %}
    <li class="page_item"><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="emailandlanyrd">
  <a href="mailto:team@gardencityruby.org">
      Email us
  </a>

  <a href="http://lanyrd.com/2014/garden-city-ruby-conference/">
      Lanyrd
  </a>

  <a href="https://github.com/GardenCityRuby/GCRC2014">
      Github
  </a>
</div>
