<article id="sponsors">
  <h2>Sponsors</h2>
  <h3>Gold Sponsors</h3>
  <ul>
    <li>
      <a href="/sponsors">Become one</a>
    </li>
  </ul>
  <h3>Silver Sponsors</h3>
  <ul>
    <li>
      <a href="//www.joshsoftware.com" target="_blank" id="josh_software" class="imagereplace">Josh Software</a>
    </li>
    <li>
      <a href="/sponsors">Become one</a>
    </li>
  </ul>
  <h3>Associate Plus Sponsors</h3>
  <ul>
    <li>
      <a href="/sponsors">Become one</a>
    </li>
  </ul>
  <h3>Associate Sponsors</h3>
  <ul>
    <li>
      <a href="//www.mavenhive.in" id="maven_hive" target="_blank" class="imagereplace">MavenHive</a>
    </li>
    <li>
      <a href="//codebrahma.com" id="code_brahma" target="_blank" class="imagereplace">Codebrahma</a>
    </li>
    <li>
      <a href="/sponsors">Become one</a>
    </li>
  </ul>
</article>
