<h2><a href="#">Sponsors</a></h2>

<article class="sponsor-logo-grid">
<div class="grid gold-sponsors" >
  <div class="unit half">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit half">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
</div>
<div class="grid silver-sponsors" >
  <div class="unit one-third">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-third">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-third">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
</div>
<div class="grid associate-plus-sponsors" >
  <div class="unit one-quarter">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-quarter">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-quarter">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-quarter">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
</div>
<div class="grid associate-sponsors" >
  <div class="unit one-fifth">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-fifth">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-fifth">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-fifth">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
  <div class="unit one-fifth">
    <img src="http://www.expressflow.com/img/placeholder_blank.png" alt="logo">
  </div>
</div>
</article>
