<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script type="text/javascript" src="//use.typekit.net/mne4vjt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">
          <a href="{{ site.url }}">
            <img alt="" src="{{site.url}}/images/{{ site.owner.avatar }}" class="avatar avatar-80 photo" width="180">
          </a>
        </div>
        <nav>
          {% include navigation.html %}
        </nav>
      </div>
    </header>

    {{ content }}

    <footer>
      {% include footer.html %}
    </footer>
    <!--    {% include scripts.html %} -->
  </body>
</html>
