<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <header>
      <div class="wrapper">
        <div class="logo">
          <a href="{{ site.url }}">
            <img alt="" src="{{site.url}}/images/{{ site.owner.avatar }}" class="avatar avatar-80 photo" width="180">
          </a>
        </div>
        <nav>
          {% include navigation.html %}
        </nav>
      </div>
    </header>

    <section id="main" class="wrapper">
    <h2>India's first Single-track Ruby Conference</h2>
    <p>
     -- Some information about what the event is about --
    </p>

     <section class="speaker-intro">

      </section>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ page.url }}">
              {{ page.title }}
            </a>
        </h1><!-- /.entry-title -->

          {% if page.image.feature %}
          <figure class="featured-image">
            <img width="480" height="396" src="{{ site.url }}/images/{{ page.image.feature }}" class="attachment-post-thumbnail wp-post-image" alt="{{ page.title }}">
          </figure><!-- /.featured-image -->
          {% endif %}

          <div class="entry-content clearfix">

            {{ content }}

          </div><!-- /.entry-content -->

        </article>

      </div>
    </section>


    <footer id="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer><!-- /#site-footer -->
    {% include scripts.html %}
  </body>
</html>
