---
layout : default
---

<header>
  <h3 class="entry-title">
    <a href="{{ site.url }}{{ page.url }}">
      {{ page.title }}
    </a>
  </h3>

  <div class="post-meta">

    <div class="post-date">
      {% if page.author_twitter %}
        <a href="http://twitter.com/{{page.author_twitter}}" target="_blank">
          <img src="http://twitter.com/api/users/profile_image/{{page.author_twitter}}"/>
          {{ page.author_name }}
        </a>
      {% else  %}
        {{ page.author_name }}
      {% endif %}
    </div>


    <span class="post-date">
        {{ page.date | date: "%B %e, %Y" }}
    </span>
      {% if site.disqus_shortname and page.comments %}
      |
      <span class="comment-link">
        <a href="#disqus_thread">Comment</a>
      </span>
      {% endif %}
  </div>
  {% include social-share.html %}
</header>

{% if page.image.feature %}
<figure class="featured-image">
  <img width="480" height="396" src="{{ site.url }}/images/{{ page.image.feature }}" class="attachment-post-thumbnail wp-post-image" alt="{{ page.title }}">
</figure>
{% endif %}

<div class="entry-content clearfix">
  {{ content }}
</div>

<footer class="post-footer">
  {% if page.tags != empty %}
  <span class="tag-links">
    Tagged
    {% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag | cgi_encode }}" title="Posts tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </span>
  {% endif %}
</footer>
