---
layout : post
---

{{ content }}

<div id="charts">
  <div id="dateChartContainer"> </div>
  <p>23 Talk Proposals submitted on the last day! Everyone making it 
  <a href="https://twitter.com/leenasn/status/393390363345317888">The Last Irresponsible Moment"</a> :-)</p>
  <div id="genderChartContainer" style="height: 300; width: 33%"> </div>
  <div id="countryChartContainer" ></div>
  <div id="cityChartContainer" ></div>
  <div id="speakerCountChartContainer" ></div>
</div>
{% include charts.html %}
